<nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top">
     <a class="navbar-brand" href="/">Online Book Library</a>
     <div class="collapse navbar-collapse"  id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a class="nav-link" href="/">Books</a>
        </li>
        <li class="nav-item "">
          <a class="nav-link" href="/authors/index">Authors</a>
        </li>
        <li class="nav-item "">
          <a class="nav-link" href="/publishers/index">Publishers</a>
        </li>
        <li class="nav-item active">
           <a class="nav-link" href="/books/about">About Us</a>
        </li>
      </ul>
    </div>
</nav>

<div class="container">
  <p id="notice"></p>
    <h1>Publishers</h1>
</div>

<% @publishers.each do |publisher| %>
  <h2><%= publisher.name %></h2>
<% end %>